@font-face {font-family: "iconfont";
  src: url('./fonts/iconfont.eot?t=1552011260460'); /* IE9 */
  src: url('./fonts/iconfont.eot?t=1552011260460#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAAKsAAsAAAAABlQAAAJhAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCcApcbwE2AiQDCAsGAAQgBYRtBzIblwUR1YtVsj9BHGM7oFgAkkqTOS56BHLXHu+LYPkVHhZvGpQUXAUSAAAAACD4p1/7nbvvrXzT9FFJDF3EkmoiJM8QGiHSPRToeCg7hLxEtdu/TwrYAgq4CQTSk8mMYtOSHq6SirH/2/oZCX31DIu8Dv2sovuKjp31dPQGx1y9bnCI4NIDMfD/CvA/APLxlL8Qhv64d/yXN0Dm84bLHJMmdQF1cSAFtDdGkRVJ5A1jF7zAxxAQp5pONFhMLhJgsVcJ0InZ3yQohLBYlg0QXsNBS7dcAmfnDW6i7yvsUgAH17DrZveGdugNOeycfSsGwiDgcRcwQCdgQYuNqWkMYlRDPGWph2NVC0IPLOioRsT+OrsyCUAFpgUhT/KoWQfgsUZSAaonTQZVCudiORmf1hck8+sl1efVTaGqO5Yzz0ISodCCCPLhD0kvANFu/t0rBAgeDl5lcv4A8FFHgWi3YpgHgn25Bf9EPLDLGlLb7FhN3NjvUDlXQ5w4EAnsy/M3VVe6gZwIKE3w+FRlYAhoRCzRCS4JusEjoAfidDByPEGBUwyyE7RzDUBkuQeHNK9gyPKOWOIXXMr8g0dWBuIsyy9M0CzLeAkbxh7aH5hunqRrZS+uvqJ6DQ3lpRHtibSZKKRRUs6WOCEtsWV7q4xZgqR5hAI8h8Mww0KzxY4jzbzkcSyb3hR18yg8CRvGHtofmG6eZDCYvcrnr6heQ0MdHXXeJ9Jmxoc0SgYgpWoa1PEor2xvlTFLkDSPUIB5OAwzLM3zLHYc6QmJJY+dXnKoKtpeM/7dIVhsfcpxNk9eVDV9LwQA') format('woff2'),
  url('./fonts/iconfont.woff?t=1552011260460') format('woff'),
  url('./fonts/iconfont.ttf?t=1552011260460') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('./fonts/iconfont.svg?t=1552011260460#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iconicon_add:before {
  content: "\eb8f";
}
